openapi: 3.1.0
info:
  title: Document Processing API
  version: 1.0.0
  description: |
    API for uploading, searching, and managing processed documents
    including vector search, status tracking, and audit logs.

servers:
  - url: https://bexgen.com/v1

paths:
  /documents:
    post:
      summary: Upload a document
      operationId: uploadDocument
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, user_email]
              properties:
                file:
                  type: string
                  format: binary
                user_email:
                  type: string
                  format: email
      responses:
        "201":
          description: Document uploaded successfully

  /documents/{document_id}/download:
    get:
      summary: Download a document
      operationId: downloadDocument
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Document file as base64
          content:
            application/json:
              schema:
                type: object
                required: [name, content]
                properties:
                  name:
                    type: string
                    example: example.pdf
                  content:
                    type: string
                    format: byte
                    description: Base64-encoded file content
        "404":
          description: Document not found

  /search:
    get:
      parameters:
        - name: k
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Document"

  /status-distribution:
    get:
      summary: Returns document status distribution counts within a date range.
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of status distribution items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StatusDistribution"
  /daily-progress:
    get:
      summary: Returns daily progress series data for a date range.
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Daily progress series per day
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DailyProgressOutput"
  /status-table:
    get:
      summary: Returns a paginated list of documents for the selected statuses and filters.
      parameters:
        - name: status
          in: query
          description: Comma-separated list of statuses to include
          required: true
          schema:
            type: string
        - name: pageIndex
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: name
          in: query
          description: Filter documents by name (partial match)
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Field name to sort by
          required: false
          schema:
            type: string
        - name: isDesc
          in: query
          description: Sort descending when true
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Document status list with pagination metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDocumentStatusOutput"
  /audit:
    get:
      summary: Returns the list of audit log entries.
      responses:
        "200":
          description: Array of audit log entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    userName:
                      type: string
                    userId:
                      type: string
                    creationDate:
                      type: string
                      format: date-time
                    actionEn:
                      type: string
                    actionAr:
                      type: string
                    id:
                      type: string
                    params:
                      type: string
    post:
      summary: Creates a new audit entry.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                params:
                  type: object
                  description: Audit parameters (array or object)
                action_en:
                  type: string
                action_ar:
                  type: string
                documentId:
                  type: string
                userId:
                  type: string
                username:
                  type: string
      responses:
        "200":
          description: Audit entry recorded.

components:
  schemas:
    StatusDistribution:
      type: object
      properties:
        status:
          type: string
        count:
          type: integer
        color:
          type: string
        bg_color:
          type: string
        icon:
          type: string
    DailyProgressOutput:
      type: object
      properties:
        date:
          type: string
          format: date
        statuses:
          type: array
          items:
            $ref: "#/components/schemas/DailyProgressStatus"
      required: [date, statuses]
    DailyProgressStatus:
      type: object
      properties:
        status:
          type: string
        count:
          type: integer
        color:
          type: string
    DocumentStatus:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        uploadDate:
          type: string
          format: date-time
        lastUpdate:
          type: string
          format: date-time
    GetDocumentStatusOutput:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/DocumentStatus"
        totalCount:
          type: integer
        pageCount:
          type: integer
        pageIndex:
          type: integer
        pageSize:
          type: integer
    Document:
      type: object
      properties:
        sourceLang:
          type: string
          enum: [ar, en]
        translationOutputFolder:
          type: string
        bucket:
          type: string
        documentId:
          type: string
        name:
          type: string
        transJobId:
          type: string
        lines:
          type: array
          items:
            type: string
        classification:
          type: object
          properties:
            department:
              type: string
            docName:
              type: string
            sector:
              type: string
            templateId:
              type: string
            templateName:
              type: string
